.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.login-wrapper > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.app-title {
    display: flex;
    padding: 10px;
    margin: 0 0 10px 0;
    color: rgb(20, 23, 26);
    font-size: 22px;
    font-weight: 600;
}
form > div {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    width: 100%;
}
form > div > input {
    width: 60%;
    height: 40px;
    padding: 10px;
    border: none;
    outline-style: none;
    border-bottom: 2px solid #657786;
    font-size: 16px;
}
form > div > input:focus {
    background-color: #E8F0FE;
    border: none;
    outline-style: none;
    border-bottom: 1px solid #1DA1F2;
}
